/* CONTAINERS */
.container_manager {
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(92, 57, 0, 0.4), rgba(141, 68, 0, 0.4), rgba(0, 0, 0, 1) ), url(../img/M_bg-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 100px;
}

.container_manager h1,
.container_manager h2, 
.container_manager h3, 
.container_manager h4, 
.container_manager h5{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3) ;
    cursor:default;
    border-radius: 4px;
}

.container_manager a{
    text-decoration: none;
}

.options{
    font-size: 36px;
}
.options:hover{
    cursor:pointer;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.15) ;
}




.form-manager {
    width: 700px;
    background: #000000c7;
    padding: 30px;
    margin: auto;
    margin-top: 0px;
    border-radius: 4px;
    color: #FFFFFF;
    box-shadow: 0px 0px 40px #ffffff;
}

.form-manager h1,
.form-manager h2, 
.form-manager h3, 
.form-manager h4, 
.form-manager h5{
    background-color: rgba(0, 0, 0, 0) ;
}

.controls {
    width: 95%;
    background: #3838387c;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    font-size: 18px;
    color: #FFFFFF;

    margin-bottom: 16px;
    text-align: center;
}

.selects{
    width: 99%;
    color: #ffffff;
}

.selects option{
    background-color: rgba(0,0,0,0.8);
    color:#ffffff;
}

.form-manager .buttons {
    width: 95%;
    background: #FFFFFFb9;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: #000000;

    margin: 16px;
    font-weight:bold;
}
  
.form-manager .buttons:hover {
    background: #3d3d3d5d;
    color:#FFFFFF;
    cursor:pointer;
}